<html>
  <head>
    <title>Personal Site</title>
    <link rel="stylesheet" href="/main.css" title="CSS" type="text/css" />
  </head>
  <body>
    <div class="header">
      <h1>Logan Pile</h1>
      <p>My Turing Journey</p>
    </div>

    <div class="navbar">
      <a href="/">Home</a>
      <a href="https://turing.io/" target="_blank">Turing</a>
      <a href="/blog">Blog</a>
      <a href="/about" class="right">About Me</a>
    </div>

    <h1>Black layout is customer friendly!</h1>

    <p style="padding-bottom:200px;">Below is a picture of black.</p>
    <p style="padding-bottom:200px;">Can you see it?</p>
    <p>I lied, there's no picture.</p>

  </body>
</html>
